## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# your code here
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
uppercase_words = []

for i in words:
    uppercase_words.append(i.upper())
    
print(uppercase_words)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [4]:
# your code here
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
new_list = []

for i in words:
    if len(i) >= 5:
        new_list.append(i)
print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [5]:
# your code here
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']


for i in words:
    if i.startswith('t'):
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [13]:
# your code here
squares = []
for i in range(1, 11):
    squares.append(i ** 2)
    
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

**Print a list containing the square of every odd number from 1 to 10**

In [31]:
# your code here
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = []



for i in my_list:
    if (i % 2) == 1:
        odd_numbers.append(i)
        
print(odd_numbers)

[1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [34]:
# your code here
new_list = []
for i in range (8, 1000, 8):
    new_list.append(i)
    
print(new_list)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [5]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [35]:
# your code here
people = [{"name": "Juan","age": 34,"n_kids": 2},{"name": "Pepe","age": 27,"n_kids": 0},{"name": "Sonia","age": 41,"n_kids": 1},{"name": "Lucía","age": 22,"n_kids": 2},{"name": "Leo","age": 55,"n_kids": 5}]

num_people = len(people)

print(num_people)

5

**How many people have kids**?

In [45]:
# your code here
people = [{"name": "Juan","age": 34,"n_kids": 2},{"name": "Pepe","age": 27,"n_kids": 0},{"name": "Sonia","age": 41,"n_kids": 1},{"name": "Lucía","age": 22,"n_kids": 2},{"name": "Leo","age": 55,"n_kids": 5}]

num_people_with_kids = 0

for i in people:
    if i ["n_kids"] > 0:
        num_people_with_kids +=1

print(num_people_with_kids)

4

**How many kids do they have in total?**

In [46]:
# your code here
people = [{"name": "Juan","age": 34,"n_kids": 2},{"name": "Pepe","age": 27,"n_kids": 0},{"name": "Sonia","age": 41,"n_kids": 1},{"name": "Lucía","age": 22,"n_kids": 2},{"name": "Leo","age": 55,"n_kids": 5}]

total_kids = 0

for i in people:
    total_kids += i["n_kids"]


print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [47]:
# your code here

people = [{"name": "Juan","age": 34,"n_kids": 2},{"name": "Pepe","age": 27,"n_kids": 0},{"name": "Sonia","age": 41,"n_kids": 1},{"name": "Lucía","age": 22,"n_kids": 2},{"name": "Leo","age": 55,"n_kids": 5}]


updated_people = []


for i in people:
    name = i ["name"]
    age = i ["age"]
    n_kids = i ["n_kids"]
    if name[-1] == "a":
        n_kids += 1
    updated_person = {"name": name, "age": age+1, "n_kids": n_kids}
    updated_people.append(updated_person)


print(updated_people)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]